body {
    margin: 0px;
}

.menu-box {
    background-color: #222222;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.teste {
    background-color: red;
}

.teste1 {
    background-color: blue;
}

.teste2 {
    background-color: purple;
}

.teste3 {
    background-color: green;
}