@font-face {
    font-family: 'Century Gothic';
    src: url('/Repositorios/site-moneyban/assets/fonts/Century_Gothic.ttf')
}

body {
    margin: 0px;
}

a {
    cursor: pointer;
}

.menu-box {
    background-color: #222222;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 97px;
}

.title-text {
    display: flex;
    align-items: center;
    color: #FF781D;
    font-family: 'Century Gothic';
}

.subtitle-text {
    display: flex;
    align-items: center;
    color: #FF781D;
    font-family: 'Century Gothic';
}

.menu-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-options-text {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Century Gothic';
    margin-left: 56px;
}

.menu-options-my-account {
    background-color: #FF781D;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Century Gothic';
    margin-left: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 24px;
}

.teste {
    background-color: red;
}

.teste1 {
    background-color: blue;
}

.teste2 {
    background-color: purple;
}

.teste3 {
    background-color: green;
}