@font-face {
    font-family: 'Century Gothic';
    src: url('/Repositorios/site-moneyban/assets/fonts/Century_Gothic.ttf')
}

body {
    margin: 0px;
}

a {
    cursor: pointer;
}


/* MENU HEADER */

.menu-box {
    background-color: #222222;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 97px;
}

.site-title {
    display: flex;
    align-items: center;
}

.title-text {
    color: #FF781D;
    font-family: 'Century Gothic';
    font-weight: bold;
}

.subtitle-text {
    color: #FF781D;
    font-family: 'Century Gothic';
}

.menu-options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-options-text {
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Century Gothic';
    margin-left: 56px;
    background-color: #0000;
    border-color: #0000;
    cursor: pointer;
}

.menu-options-text:focus {
    outline: 0;
}

.menu-options-my-account {
    background-color: #FF781D;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Century Gothic';
    margin-left: 56px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 24px;
}

.fa-chevron-down {
    color: #FF781D;
    pointer-events: none;
}


/* FIM DO MENU HEADER */


/* DROPDOWN */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-size: 14px;
    font-family: 'Century Gothic';
    background-color: #222222B3;
    cursor: pointer;
    opacity: 1;
    border: 2px solid transparent;
    border-top-color: #FF781D;
    transition: all 2s ease-in-out;
}

.dropdown-content a {
    color: #FFFFFF !important
}

.dropdown-content span {
    color: #FF781D !important;
    font-size: 10px
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 292px;
    padding: 15px;
}


/* FIM DO DROPDOWN */

.box-img1 {
    height: 870px;
    background-image: url('/Repositorios/site-moneyban/assets/img/bg-home-parcelar-documentos-carro-moto.jpg');
}

.right-side-text {
    font-size: 65px;
    font-family: 'Century Gothic';
    font-weight: bold;
    color: #FFFFFF;
    height: 526px;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    padding-right: 240px;
    padding-top: 172px;
}

.center-know-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: red;
    height: 17%;
}