.order {
    display: flex;
    justify-content: center;
}

.teste {
    background-color: red;
}

.teste1 {
    background-color: blue;
}

.teste2 {
    background-color: purple;
}

.teste3 {
    background-color: green;
}